:root {
    --couleur-primaire : #E2AF7857;
}

header {
background: linear-gradient(180deg, rgba(72,29,7,0.8) 0%, rgba(72,29,7,0.57) 100%); 
}

body {
background:  center/cover url("../../images/hammond1-1.jpg") no-repeat;
}

a {
color: #e2af78;
background-color: transparent;
}

a1 {
color: #ffffff;
background-color: transparent;
}

h1 {
background-color: transparent;
color: #f13209;
}

h2 {
color: #f13209;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

h3 {
color: #e2af78;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

p {
color: #ffffff;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

p1 {
color: #ffffff;
background-color: #481D07A1;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

p2 {
color: #e2af78;
background-color: #481D07A1;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

table, td, th {
  border: 1px solid #e2af78;
}

table {
  width: 100%;
  border-collapse: collapse;
}

footer, .skip-links{
    display: none;
}


#inktree {
background-color: blue ;
}